@use "../utils/variables";

.topbar {
    position: absolute;
    width: 100vw;
    height: variables.$editor-topbar-top;
    background-color: grey;
    user-select: none;

    &.dark {
        background-color: hsl(0, 0%, 15%);
    }

    // TODO: flexbox, center things using space-evenly

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .create_tab, .code_tab {
        width: fit-content;
        padding: 13px;
        cursor: pointer;
        &:hover {
            background-color: hsl(0, 0%, 10%)
        }
    }
    z-index: 1;
}
