@use "utils/variables";

// @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

@font-face {
    font-family: "Readex Pro";
    src: url("ReadexPro-VariableFont_wght.ttf");
}

.app {
    font-family: "Readex Pro", sans-serif;

    &.dark {
        background-color: variables.$dark-mode-background;
        color: variables.$dark-mode-content-color;

        input {
            border: 5px solid hsl(0, 0%, 5%);
            color: white;
            background-color: hsl(0, 0%, 20%);
        }
    }

    &.light {
        background-color: variables.$light-mode-background;
        color: variables.$light-mode-content-color;
    }

    input {
        padding: 5px;
        border-radius: 5rem;
        outline: 0;
        border: 5px solid grey;
        background-color: white;
        color: black;
    }
}
