$sidebar-width: 40px;

.homepage {
    background-color: hsl(0, 0%, 25%);
    width: 100vw;
    height: 100vh;

    user-select: none;

    .homepage__new-project {
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;

        padding: 10px;
        transition: opacity 0.3s ease-in-out;

        input, button {
            border-radius: 0.5rem;
            padding: 5px;
            outline: 0;
            border: 1px solid black;
        }
    }

    .black__screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: black;
        z-index: 1;
        opacity: 0;

        &.show {
            opacity: 0.7;
            width: 100vw;
            height: 100vh;
        }

        &.above {
            z-index: 3;
        }

        transition: opacity 0.3s ease-in-out;
    }

    .homepage__quick-area-container {
        position: absolute;
        left: $sidebar-width + 15px;
        top: 20px;

        .homepage__quick-area {
            background-color: hsl(0, 0%, 15%);
            padding: 10px;
            border-radius: 0.7rem;
            width: fit-content;

            .quick-area__button {
                padding: 10px;
                border-radius: 0.5rem;

                cursor: pointer;
                &.hover {
                    background-color: hsl(0, 0%, 10%);
                }
            }
        }
    }

    .homepage__projects-container {
        position: absolute;
        left: $sidebar-width + 15px;
        top: 150px;
        .homepage__projects {
            // padding-left: $sidebar-width + 15px;
            // padding-top: 15px;
            // padding-bottom: 15px;
            padding: 15px;
            background-color: hsl(0, 0%, 15%);
            border-radius: 0.7rem;
            width: 90%;
            z-index: 0;
    
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
    
            .homepage__project {
                padding: 10px;
                background-color: hsl(0, 0%, 10%);
                color: white;
                width: fit-content;
                border-radius: 0.5rem;
                user-select: none;
                cursor: pointer;
            }
        }
    }

    .homepage__sidebar {
        position: absolute;
        background-color: hsl(0, 0%, 20%);
        width: $sidebar-width;
        // padding: 10px;
        height: 100vh;
        z-index: 2;

        .sidebar__element {
            display: flex;
            .sidebar__name {
                display: none;
            }

            // width: 135px - 10px;
            padding: 5px;

            cursor: pointer;
            user-select: none;

            background-color: hsl(0, 0%, 15%);

            &:hover {
                background-color: hsl(0, 0%, 10%);
            }

            transition: width 0.3s, display 0.3s;
            transition-timing-function: ease-in-out;
        }

        transition: width 0.3s;
        transition-timing-function: ease-in-out;

        .sidebar__hamburger {
            cursor: pointer;

            font-size: larger;
            padding: 10px;

            &:hover {
                background-color: hsl(0, 0%, 10%);
            }
        }

        &.expanded {
            width: 135px;

            .sidebar__element {
                .sidebar__name {
                    display: block;
                }
                width: 135px - 10px;

                transition: width 1s;
            }
        }
    }
}