$sidebar-width: 40px;

.homepage {
    background-color: hsl(0, 0%, 25);
    width: 100vw;
    height: 100vh;

    .homepage__new-project {
        z-index: 4;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;

        padding: 10px;
        transition: opacity 0.3s ease-in-out;

        input, button {
            border-radius: 0.5rem;
            padding: 5px;
            outline: 0;
            border: 1px solid black;
        }
    }

    .black__screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        z-index: 1;
        opacity: 0;

        &.show {
            opacity: 0.7;
        }

        &.above {
            z-index: 3;
        }

        transition: opacity 0.3s ease-in-out;
    }

    .homepage__projects {
        padding-left: $sidebar-width + 15px;
        padding-top: 15px;
        z-index: 0;
    }

    .homepage__sidebar {
        position: absolute;
        background-color: hsl(0, 0%, 20);
        width: $sidebar-width;
        // padding: 10px;
        height: 100vh;
        z-index: 2;

        .sidebar__element {
            display: flex;
            .sidebar__name {
                display: none;
            }

            // width: 135px - 10px;
            padding: 5px;

            cursor: pointer;
            user-select: none;

            background-color: hsl(0, 0%, 15);

            &:hover {
                background-color: hsl(0, 0%, 10);
            }

            transition: width 0.3s, display 0.3s;
            transition-timing-function: ease-in-out;
        }

        transition: width 0.3s;
        transition-timing-function: ease-in-out;

        .sidebar__hamburger {
            cursor: pointer;

            font-size: larger;
            padding: 10px;

            &:hover {
                background-color: hsl(0, 0%, 10);
            }
        }

        &.expanded {
            width: 135px;

            .sidebar__element {
                .sidebar__name {
                    display: block;
                }
                width: 135px - 10px;

                transition: width 1s;
            }
        }
    }
}