$topbar-top: 50px;

// Dark mode colors
$dark-mode-background: hsl(0, 0%, 10%);
$dark-mode-content-color: hsl(0, 0%, 90%);

// Light mode colors
$light-mode-background: lightgrey;
$light-mode-content-color: black;
