@use "../../utils/variables";

.code__comp {
    .editor__tabs {
        height: calc(100vh - variables.$editor-topbar-top - 30px);

        .editor__tab {
            padding: 3px;
            width: fit-content;
        }
    }
    height: calc(100vh - variables.$editor-topbar-top);
}