@use "utils/variables";

.sidebar {
    width: 200px;
    height: calc(100vh - variables.$topbar-top);
    background-color: darkgrey;

    padding-top: variables.$topbar-top;

    .sidebar__title {
        text-align: center;
    }

    .sidebar__element {
        padding-top: 5px;
        width: 100%;
        background-color: hsl(0, 0%, 10%);
        // display: flex;
        padding-bottom: 5px;
        h4 {
            padding-left: 20px;
            color: white;
        }

        &.active {
            background-color:hsl(0, 0%, 30%)
        }

        cursor: pointer;
    }
}