@use "utils/variables";

.sidebar {
    width: 200px;
    height: calc(100vh - variables.$topbar-top);
    background-color: darkgrey;

    padding-top: variables.$topbar-top;

    .sidebar__title {
        text-align: center;
    }
}